
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-content{
    width: 600px;
    height: 400px;
   /* background-color: white;*/
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("https://st3.depositphotos.com/13194036/17771/i/600/depositphotos_177717816-stock-photo-bike.jpg");
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}
input{
    width: 50%;
    display: block;
    margin: 15px auto;

}

.cloose{
    position: absolute;
    top:0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}