<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">


    <link href="css/home1.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

<div class="nav">
    <div class="nav-title">
        <div class="nav-desc"><p>
            <h3> Best Trip ever... </h3></p> <i class="fa fa-bicycle fa-2x"></i></div>
    </div>
</div>
<div class="nav-2">
    <form method="get" action="">
        <div class="boxContainer">
            <table class="elementContainer">
                <tr>
                    <td>
                        <input type="text" class="search" placeholder="Search">
                    </td>
                    <td>
                        <a href="#"><i class="material-icons">
                            search
                        </i></a>

                    </td>
                </tr>
            </table>
        </div>
    </form>
    <div class="grp">
        <button type="submit" class="btn-grp" value="Submit">Create Your team</button>
    </div>
</div>
<div class="creat-team">
    <div class="cont-team">
        <div class="back-close">
            <div class="cloose">+</div>
        </div>
        <div class="regform"><h2> Create Team</h2></div>


        <div class="main">
            <form action="#" th:action="@{/createGroup}" th:object="${group}" method="POST">
                <div id="name">
                    <h2 class="name">Name</h2>
                    <input class="firstname inp" type="text" th:field="*{Admin}" name="Admin" placeholder="first name"><br>
                    <label class="firstlabel">first name</label>
                    <input class="lastname inp" type="text" name="last_name" placeholder="last name">
                    <label class="lastlabel">last name</label>
                </div>

                <h2 class="name">Group Name</h2>
                <input class="grp-name inp" type="text" name="grp" placeholder="Group name ...">

                <h2 class="name">.</h2>
                <input class="email inp" type="text" name="email" placeholder="Email">

                <h2 class="name">.</h2>
                <input class="code inp" type="text" name="area_code" placeholder="+212">
                <label class="area_code">Area Code</label>
                <input class="number inp" type="text" name="phone" placeholder="0612524865">
                <label class="phone-number">Phone Number</label>

                <h2 class="name">.</h2>
                <select class="option" name="subject">
                    <option disabled="disabled" selected="selected">--Choose Option</option>
                    <option>Subject1</option>
                    <option>Subject2</option>
                    <option>Subject3</option>
                    <option>Subject4</option>
                    <option>Subject5</option>
                </select>


                <input class="pl-trip time inp" type="text" name="time" placeholder="00:00">
                <select class="pl-trip day" name="day">
                    <option disabled="disabled" selected="selected">Day</option>
                    <option value="1">1</option><option value="2">2</option><option value="3">3</option>
                    <option value="4">4</option><option value="5">5</option><option value="6">6</option>
                    <option value="7">7</option><option value="8">8</option><option value="9">9</option>
                    <option value="10">10</option><option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option><option value="14">14</option><option value="15">15</option>
                    <option value="16">16</option><option value="17">17</option><option value="18">18</option>
                    <option value="19">19</option><option value="20">20</option><option value="21">21</option>
                    <option value="22">22</option><option value="23">23</option><option value="24">24</option>
                    <option value="25">25</option><option value="26">26</option><option value="27">27</option>
                    <option value="28">28</option><option value="29">29</option><option value="30">30</option>
                    <option value="31">31</option>
                </select>

                <select class="pl-trip month" name="month">
                    <option disabled="disabled" selected="selected">Month</option>
                    <option value="january">January</option>
                    <option value="february">February</option>
                    <option value="march">March</option>
                    <option value="april">April</option>
                    <option value="may">May</option>
                    <option value="june">June</option>
                    <option value="july">July</option>
                    <option value="august">August</option>
                    <option value="september">September</option>
                    <option value="october">October</option>
                    <option value="november">November</option>
                    <option value="december">December</option>
                </select>
                <select class="pl-trip year" name="year">
                    <option disabled="disabled" selected="selected">Year</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>

                <!--<h2 id="student">Are you a beginner</h2>
                <label class="radio">
                    <input class="radio-one" type="radio" checked="checked" name="">
                    <span class="checkmark"></span>
                    yes
                </label>
                <label class="radio">
                    <input class="radio-two" type="radio" name="">
                    <span class="checkmark"></span>
                    No
                </label>-->

                <button class="btn-crt-grp" type="submit">Create</button>
            </form>
        </div>

    </div>
</div>
<script src="js/home1.js"></script>
</body>
</html>